@import "myVariables";

.myColor {
  background: @my-color;
  color : @btn-primary-bg;
  height: 30px;
}




.ant-card {
  border-radius: 4px;
}
.ant-card-head {
  border: none;
  background-color: @btn-primary-bg;
  border-radius: 4px 4px 0 0;
}


