@import "../../../../node_modules/antd/lib/style/themes/default.less";
@import "myVariables";

//give unique color numbers or it will be the same color manage
@primary-color : #1890ff;
@my-color : #ff3217;
@body-background : #dbcbff;
@btn-primary-bg: #397dcc;
